# Dependencies
node_modules/

# Production build
dist/

# Local env files
.env
.env.local
.env.*.local

# OS & Editor
.DS_Store
.vscode/
.idea/

# Android Native Build files
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
*.apk
*.aab

# Logs
*.log
